@use "global" as *;

.c-drower {
  opacity: 0;
  //ドロワーの出てくるところが左指定
  visibility: hidden;
  //これはドロワーの出てくるところが右指定
  transform: translateX(100%);
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  z-index: 5;
  overflow: auto;
  height: 100vh;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  @include mq("md") {
    display: none;
  }
}
.c-drower__items {
  padding: rem(120) rem(60) rem(50);
}

.c-drower__item:not(:last-child) {
  padding-bottom: rem(40);
  @include mq("md") {
    padding-bottom: rem(60);
  }
}

.c-drower__item a {
  font-weight: $bold;
  display: block;
  transition: all 0.3s;
  position: relative;
}

.c-drower__item a::before {
  content: "";
  background-image: url(../../assets/images/common/section-heading.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  width: 14px;
  height: 14px;
}

.c-drower__item a:hover {
  text-decoration: underline red;
}

.c-drower.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

// .c-header__mask {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   width: 100vw;
//   height: 100%;
//   background-color: white;
//   opacity: 0;
//   visibility: hidden;
//   transition: 0.3s;
// }

// .c-header__mask.active {
//   opacity: 1;
//   visibility: visible;
// }

// .c-global-navi__bottom {
//   text-align: center;
// }

// .c-global-navi__btn__wrapper {
//   width: 100%;
//   max-width: rem(345);
//   margin: 0 auto;
// }

body.is-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}
