@use 'global' as *;

.c-jq-acd {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 600px;
  position: relative;
  width: 100%;
}
.c-jq-acd__title {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.c-jq-acd__content {
  display: none;
  padding: 10px 20px;
}
.c-jq-acd__content p {
  font-size: 13px;
  line-height: 1.5;
}

.c-jq-acd__item:not(:last-child) {
  margin-bottom: 20px;
}

/* タイトルの背景色 */
.c-jq-acd__item:nth-of-type(1) .c-jq-acd__title {
  background-color: #7f7fff;
}
.c-jq-acd__item:nth-of-type(2) .c-jq-acd__title {
  background-color: #66cdaa;
}
.c-jq-acd__item:nth-of-type(3) .c-jq-acd__title {
  background-color: #ff7f7f;
}
/* コンテンツボックスの枠線 */
.c-jq-acd__item:nth-of-type(1) .c-jq-acd__content {
  border-bottom: 2px solid #7f7fff;
  border-left: 2px solid #7f7fff;
  border-right: 2px solid #7f7fff;
}
.c-jq-acd__item:nth-of-type(2) .c-jq-acd__content {
  border-bottom: 2px solid #66cdaa;
  border-left: 2px solid #66cdaa;
  border-right: 2px solid #66cdaa;
}
.c-jq-acd__item:nth-of-type(3) .c-jq-acd__content {
  border-bottom: 2px solid #ff7f7f;
  border-left: 2px solid #ff7f7f;
  border-right: 2px solid #ff7f7f;
}
/* 矢印 */
.c-jq-acd__title {
  position: relative;
}
.--acd-arrow::after {
  border-right: solid 2px #fff;
  border-top: solid 2px #fff;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}
.--acd-arrow.open::after {
  top: 45%;
  transform: rotate(-45deg);
}


// プラスマイナス

.--plus-minus::before {
  position: absolute;
  content:'';
  top: 50%;
  right: 25px;
  height: 2px;
  width: 15px;
  background: white;
  transform: rotate(90deg);
  transition: all .3s ease-in-out;
}


.--plus-minus::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 25px;
  height: 2px;
  width: 15px;
  background: white;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
}

.--plus-minus.open::before {
  transform: rotate(180deg);
}
.--plus-minus.open::after {
  opacity:0;
}