@use "global" as *;
.prev-next {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: rem(24);
  @include mq("md") {
    padding-top: rem(32);
  }
}

.previous,
.next {
  color: $c-navy;
}

.previous a,
.next a {
  padding: 0 rem(12) rem(8);
  transition: all 0.3s;
  display: block;
}

.previous a:hover,
.next a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.top-link {
  display: block;
  transition: all 0.3s;
  font-size: rem(14);
}

.top-link:hover {
  opacity: 0.7;
}

.top-link img {
  width: rem(24);
  margin: 0 auto;
}
