@use "global" as *;

.p-flow-cards {
  max-width: rem(800);
  margin: 0 auto;
}

.p-flow-card {
  align-items: center;
  display: flex;
  height: auto;
  position: relative;
  @include mq("md") {
  }
}

.p-flow-card:not(:last-child) {
  margin-bottom: rem(48);
}

.p-flow-card:not(:last-child)::before {
  content: "";
  position: absolute;
  left: rem(40);
  background-color: #dfdfdf;
  width: rem(2);
  height: 100%;
  top: 53%;
  height: 100%;
}

.p-flow-card__no {
  font-family: $en-font;
  font-size: rem(24);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: $bold;
  background-color: $c-navy;
  color: $c-white;
  max-width: rem(100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: rem(84);
  border-radius: 50%;
  height: rem(84);
  margin-right: rem(-30);
  z-index: 1;
}


.p-flow-card__step {
  font-size: rem(10);
}

.p-flow-card__text {
  padding: rem(15) rem(15) rem(15) rem(55);
  flex: 1;
  background: $c-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.p-flow-card__title {
  font-size: rem(18);
  color: $c-navy;
  margin-bottom: 8px;
}

.p-flow-card__bottom-img {
  aspect-ratio: 88 /68;
  width: 100%;
  max-width: rem(88);
  height: auto;
  margin-left: auto;
}

.p-flow-card__desc {
  font-size: rem(14);
  line-height: 2;
  color: $c-navy;
}

.p-flow-card__bottom-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
