@use "global" as *;

.p-global-menu-items {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    // display: block;
    flex-direction: row;
  }
}

.p-global-menu-item {
  border-top: solid 1px $c-gray-line;
  @include mq("md") {
    border-top: initial;
  }
}

.p-global-menu-item:last-child {
  border-bottom: solid 1px $c-gray-line;
  @include mq("md") {
    border-bottom: initial;
  }
}

/* 修正：sub-menuの最後のliにはこのスタイルを適用しない */
.sub-menu .p-global-menu-item:last-child {
  border-bottom: none;
}

.p-global-menu-item__link {
  padding: rem(12);
  display: block;
}

/* 子メニューを非表示にする */
.sub-menu {
  display: none;
  @include mq("md") {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }
}

.sub-menu.open {
  @include mq("md") {
    max-height: rem(
      100
    ); /* これは大まかな値で、サブメニューの最大高さを想定しています。実際の高さに応じて調整してください */
  }
}

.menu-item-has-children > .p-global-menu-item__link {
  display: flex;
  justify-content: space-between;
}

.submenu-toggle {
  padding: rem(15);
  color: $c-white;
  font-size: rem(20);
  background: $c-gray-line;
  position: relative;
}
.submenu-toggle::before {
  /* 閉じている時 */
  content: "＋";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $c-navy;
}
.submenu-toggle.active::before {
  /* 開いている時 */
  content: "－";
  color: $c-navy;
}
