@use "global" as *;

.p-post-list-item:not(:last-child) {
  margin-bottom: rem(37);
}

.p-post-list-item__link {
  width: 100%;
  transition: all 0.3s;
  padding-bottom: rem(10);
  border-bottom: solid 2px #d2e0ef;
  display: block;
  @include mq("md") {
    display: flex;
    align-items: center;
    padding-bottom: rem(10);
  }
}

.p-post-list-item__link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.p-post-list-item__time {
  font-family: "Noto Sans JP";
  font-size: rem(14);
  color: #acacac;
  white-space: nowrap;
  @include mq("md") {
    margin-right: rem(24);
  }
}

.p-post-list-item__title {
  font-family: "Noto Serif JP";
  font-weight: $bold;
  line-height: 2.25;
  font-size: rem(16);
}
