@use "global" as *;

.p-top-works {
  margin-bottom: rem(40);
  @include mq("md") {
    margin-bottom: rem(80);
  }
}

.p-top-works__title {
  font-weight: 500;
}

.p-top-works__item {
  position: relative;
  display: flex;
  flex-direction: column;
  @include mq("md") {
    padding: rem(16);
  }
}

.p-top-works__img {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  margin-bottom: rem(32);
  margin-top: auto;
}

.p-top-works__pc-img {
  aspect-ratio: 353 / 200;
  width: 100%;
  height: auto;
  max-width: rem(353);
  background-image: url(../../assets/images/common/pc-moc.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  position: relative;
  flex: 1;
}

.p-top-works__pc-img::after {
  content: "";
  height: 23px;
  height: 1.4375rem;
  width: 168px;
  width: 10.5rem;
  border-radius: 0;
  position: absolute;
  top: 102%;
  left: 26%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(173, 173, 173, 0.56) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  -webkit-animation: expansion 1.5s cubic-bezier(0.55, 0.19, 0.44, 0.79) 0s
    infinite alternate;
  animation: expansion 1.5s cubic-bezier(0.55, 0.19, 0.44, 0.79) 0s infinite
    alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.p-top-works__pc-img-wrap {
  background: #000;
  overflow: scroll;
  position: absolute;
  top: 7%;
  left: 15.3%;
  right: 16.3%;
  bottom: 16.2%;
}

.p-top-works__sp-img {
  aspect-ratio: 78 / 148;
  width: 30%;
  max-width: rem(140);
  background-image: url(../../assets/images/common/mobile-moc.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  position: relative;
  z-index: 1;
  @include mq("md") {
    width: 50%;
  }
}

.p-top-works__sp-img-wrap::after {
  content: "";
  height: 23px;
  height: 1.4375rem;
  width: 168px;
  width: 10.5rem;
  border-radius: 0;
  position: absolute;
  top: 102%;
  left: 26%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(173, 173, 173, 0.56) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  -webkit-animation: expansion 1.5s cubic-bezier(0.55, 0.19, 0.44, 0.79) 0s
    infinite alternate;
  animation: expansion 1.5s cubic-bezier(0.55, 0.19, 0.44, 0.79) 0s infinite
    alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.p-top-works__sp-img-wrap {
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 10.7%;
  left: 12.7%;
  right: 12.6%;
  bottom: 14.6%;
}

.p-top-works__sp-img img,
.p-top-works__pc-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.p-top-works__text {
  padding: rem(8);
  @include mq("md") {
    padding: rem(16);
  }
}

.p-top-works_btn-wrap {
  text-align: center;
}

.p-top-works__bottom-btn-wrap {
  text-align: center;
}
