@use 'global' as *;

.p-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}

.p-table__item {
  margin-bottom: 56px;
}

.p-table__item h3 {
  color: #1958bc;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.35;
  padding: 10px;
}

.p-table__item-wrap {
  display: flex;
  width: 100%;
}

.p-table__item-title,
.p-table__item-desc {
  padding: 15px 15px 15px 30px;
  display: table-cell;
}

.p-table__item-title {
  width: 35%;
  background-color: #1958bc;
  color: #fff;
  border-bottom: solid 1px #fff;
}

.p-table__item-wrap:nth-of-type(1) .p-table__item-title {
  border-top: solid 1px #1958bc;
}

.p-table__item-wrap:last-child .p-table__item-title {
  border-bottom: solid 1px #1958bc;
}

.p-table__item-wrap:nth-of-type(1) .p-table__item-desc {
  border-top: solid 1px #1958bc;
}

.p-table__item-desc {
  width: 65%;
  border-right: solid 1px #1958bc;
  border-bottom: solid 1px #1958bc;
}

.p-table__item-textarea {
  padding: 15px 15px 15px 30px;
}
