@use "global" as *;
.l-top-news {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    padding-right: 0;
    padding-left: 0;
  }
}
